/* fonts */

@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserrat-thin;
    src: url(../fonts/Montserrat-Thin.ttf);
}

/* base */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

.canvas-container {
    background-color: #e3e3e3;
}

.my-canvas {
    margin: 1vh auto;
    border: 1px solid blue;
    display: block;
}

/* layout */

.header-bg {
    width: 100%;
    background-color: #ff7f00;
}

.logo-mobile {
    width: 133px;
    height: 22px;
    background-image: url('../imgs/mobile-logo.png');
    margin-left: 10px;
    margin-top: 22px;
    margin-bottom: 22px;
}

.mobile-menu-btn {
    width: 28px;
    height: 20px;
    background-image: url('../imgs/hamburger.png');
    margin-top: 22px;
    margin-right: 10px;
    margin-bottom: 22px;
    cursor: pointer;
}

.mobile-home {
    width: 100%;
    background-color: white;
}

.mobile-menu-modal {
    display: none;
    width: 75vw;
    background-color: #FF7F00;
    border: 1px solid black;
    position: fixed;
    top: 25vh;
    left: 10%;
}

.main-menu {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    margin-left: 3vw;
    list-style-type: none;
    padding: 0;
}

.main-menu li {
    margin-bottom: 20px;
}

.main-menu a {
    text-decoration: none;
    color: white;
}

.modal-logo {
    width: 133px;
    height: 22px;
    margin: 0 3vw;
    margin-bottom: 20px;
}

.modal-x {
    position: relative;
    z-index: 1;
    top: 10px;
    left: 95%;
    width: 22px;
    height: 23px;
    color: white;
    cursor: pointer;
}

.enter-search-keyword {
    font-family: montserrat;
    font-size: 19px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #7a7a7a;
    margin-top: 15px;
    border: 0;
    border-style: none;
    border-bottom: 1px solid black;
}

input.enter-search-keyword {
    background-image: url(../imgs/search-icon.png);
    background-repeat: no-repeat;
    background-position: center right;
    text-indent: 20px;
}

input.enter-search-keyword:focus {
    background-image: none;
}

.about img {
    width: 158px;
    height: 158px;
    margin-top: 44px;
}

.about h1 {
    font-family: montserrat-bold;
    height: 19px;
    font-size: 22px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ff7f00;
    margin: 0;
    margin-top: 18px;
}

.about p {
    font-family: montserrat;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin: 0;
    padding: 22px 38px;
}

.social-links-container a {
    display: inline-block;
    width: 39px;
    height: 39px;
    border-radius: 12px;
    background-color: #ff7f00;
    margin: 0px 4px 62px;
}

.linked-in {
    background-image: url('../imgs/linkedin-logo.png');
    background-repeat: no-repeat;
    background-position: center;
}

.facebook {
    background-image: url('../imgs/facebook-logo.png');
    background-repeat: no-repeat;
    background-position: center;
}

.github {
    background-image: url('../imgs/github-logo.png');
    background-repeat: no-repeat;
    background-position: center;
}

/* footer */

footer {
    width: 100%;
    height: 207px;
    background-color: #ff7f00;
}

.footer-logo {
    width: 133px;
    height: 22px;
    margin-bottom: 16px;
}

.tos {
    height: 19px;
    font-family: montserrat-thin;
    font-size: 19px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: white;
}

/* gallery */

.gallery-bg {
    width: 100%;
    background-color: #e3e3e3;
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 8px;
}

.gallery-bg img:nth-child(odd) {
    padding-left: 3vw;
}

.gallery-bg img:nth-child(even) {
    padding-right: 3vw;
}

.gallery-bg img:nth-child(-n+2) {
    margin-top: 2vh;
}

.gallery-bg img:nth-last-child(-n+2) {
    margin-bottom: 2vh;
}

/* editor */

.editor-container {
    background-color: #e3e3e3;
    display: none;
}

.editor-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.editor-menu li {
    margin: 5px;
    padding: 0;
    list-style-type: none;
    width: 41px;
    height: 41px;
    border-radius: 12px;
}

.txt-edit-container{
    flex-basis: 100%;
}

.txt-editor {
    width: 90vw;
    height: 2.5rem;
    border-radius: 12px;
}

.txt-editor::placeholder{
    text-indent: 20px;
    font-family: montserrat;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.nav-title {
    text-align: center;
    margin-bottom: 5vh;
    font-family: sans-serif;
    font-size: 1.2rem;
    text-decoration: underline;
}

.download-btn {
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: #ffa048;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    text-decoration: none;
}

/* Helpers */

.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-open {
    display: block;
}

.menu-close {
    display: none;
}